<!DOCTYPE html>
<html lang="en">

<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>

<div class="jumbotron">
    <div class="container">
        <form class="container" id="resume">
            <h2 class="form-resume-heading">Create your resume</h2>
            <i>Asterisk (<span class="red">*</span>) indicates the compulsory field.</i>
            <hr>

<%- include partial/resume-form-content.ejs %>

            <hr>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>

<%- include partial/footer.ejs %>

<%- include partial/shared-js.ejs %>

<script>
    'use strict';
    $(document).ready(function() {
        window.setTimeout(function(){
            var token = localStorage.getItem('token');
            if(token === null){
                window.location = "/error/0";
            }
        }, 1000);

<%- include partial/resume-form-validation.js %>

        $('form').submit(function(e) {
            e.preventDefault();
            //validate the compulsory fields are not empty and valid
            if (formValidation()){
                $.ajax({
                    type: 'POST',
                    beforeSend : function(xhr) {
                        // set JWT header
                        xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('token'));
                    },
                    data: $('form').serialize(),
                    dataType: 'json',
                    url: '/api/resumes',
                    success: function (data) {
                        window.location = "/success/2";
                    },
                    error: function (data) {
                        window.location = "/error/6";
                    }
                });
            }else{
                window.location = "/error/13";
            }
        });
    });
</script>

</body>
</html>