<!DOCTYPE html>
<html lang="en">

<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>

<div class="jumbotron">
    <div class="container">
        <form class="container" id="resume">
            <h2 class="form-resume-heading">Edit the resume</h2>
            <i>Only the administrators can access this page and perform actions.</i>
            <i>Asterisk (<span class="red">*</span>) indicates the compulsory field.</i>
            <hr>

            <%- include partial/resume-form-content.ejs %>

            <hr>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>

<%- include partial/footer.ejs %>

<%- include partial/shared-js.ejs %>

<script>
    'use strict';
    $(document).ready(function() {

        // check the current user is an admin

        window.setTimeout(function(){
            var isAdmin = localStorage.getItem('isAdmin');
            if (!isAdmin){
                window.location.href = "/error/1";
            }
        }, 1000);

        // get the resumeid and check if it is not empty, then fetch the resume data based on the resume id

        var resumeId = <%-JSON.stringify(resumeid)%>;
        if (resumeId !== ""){
            $.ajax({
                url: "http://localhost:3000/api/resumes/" + resumeId,
                type: 'GET',
                beforeSend : function(xhr) {
                    // set JWT header
                    xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('token'));
                },
                success: function (data) {
                    $('#firstName').val(data.firstName);
                    $('#lastName').val(data.lastName);
                    $('#gender').val(data.gender);
                    $('#birth').val(data.birth);
                    $('#country').val(data.country);
                    $('#state').val(data.state);
                    $('#city').val(data.city);
                    $('#suburb').val(data.suburb);
                    $('#addr1').val(data.addr1);
                    $('#addr2').val(data.addr2);
                    $('#email').val(data.email);
                    $('#phoneNumber').val(data.phoneNumber);
                    $('#desiredPosition').val(data.desiredPosition);
                    $('#desiredSalary').val(data.desiredSalary);
                    $('#startWork').val(data.startWork);
                    $('#endWork').val(data.endWork);
                    $('#workPlace').val(data.workPlace);
                    $('#workPosition').val(data.workPosition);
                    $('#workAchievement').val(data.workAchievement);
                    $('#eduInstitution').val(data.eduInstitution);
                    $('#eduDepartment').val(data.eduDepartment);
                    $('#eduSpecialization').val(data.eduSpecialization);
                    $('#eduGraduation').val(data.eduGraduation);
                },
                error: function (data) {
                    window.location = "/error/7";
                }
            });

            // add submit button functionality

            $('#resume').submit(function(e) {
                e.preventDefault();

                // include the resume-form-validation.js to perform validations for the inputs

                <%- include partial/resume-form-validation.js %>

                if (formValidation()){
                    $.ajax({
                        type: 'PUT',
                        beforeSend : function(xhr) {
                            // set JWT header
                            xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('token'));
                        },
                        data: $('form').serialize(),
                        dataType: 'json',
                        url: '/api/resumes/' + resumeId,
                        success: function (data) {
                            window.location = "/success/3";
                        },
                        error: function (data) {
                            window.location = "/error/1";
                        }
                    });
                }else{
                    window.location = "/error/7";
                }
            });
        } else {
            window.location = "/error/7";
        }
    });
</script>

</body>
</html>