<!DOCTYPE html>
<html lang="en">

<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>

<div class="jumbotron m-viewresume-container">
    <div class="container">
        <h2 class="form-resume-heading">Search Result</h2>
        <hr>
        <div class="row">
            <h2 id="empty" style="margin: 150px auto; display: none;"><i>Nothing but chicken!</i></h2>
        </div>
    </div>
</div>

<%- include partial/footer.ejs %>

<%- include partial/shared-js.ejs %>

<script>
    'use strict';
    $(document).ready(function() {
        var keyword = <%-JSON.stringify(keyword)%>;

        // show no-result component if the keyword is empty

        if (keyword === ""){
            $('#empty').css("display", "inherit");
        } else {
            $.ajax({
                url: "http://localhost:3000/api/resumes/search",
                data: {
                    keyword: keyword
                },
                type: 'POST'
            }).then(function (data) {

                // if the returned data's length equals to 0, show no-result component

                if (data.length === 0){
                    $('#empty').css("display", "inherit");
                }

                for (var i = 0; i < data.length; i++) {

                    // get the required preview data in variables

                    var fullName = data[i].firstName + " " + data[i].lastName;
                    var info = data[i].gender + " / " + data[i].country + " " + data[i].state + " " + data[i].city;

                    // append each resume preview data in each block

                    $('.row').append("            <div class=\"col-sm-6\">\n" +
                        "                <div class=\"card\">\n" +
                        "                    <div class=\"card-body\">\n" +
                        "                        <span style='float: right'><i>" + data[i]._id + "</i></span>\n" +
                        "                        <h4 class=\"card-title\">" + fullName + "</h4>\n" +
                        "                        <p class=\"card-text\">" + info + "</p>\n" +
                        "                        <ul class=\"list-group list-group-flush\">\n" +
                        "                            <li class=\"list-group-item\"><i>Email address:</i> " + data[i].email + "</li>\n" +
                        "                            <li class=\"list-group-item\"><i>Phone number:</i> " + data[i].phoneNumber + "</li>\n" +
                        "                            <li class=\"list-group-item\"><i>Birthday:</i> " + data[i].birth + "</li>\n" +
                        "                        </ul>\n" +
                        "                        <div class=\"card-body\">\n" +
                        "                            <a href=\"/view-resume/" + data[i]._id + "\" class=\"btn btn-primary\">View</a>\n" +
                        "                        </div>\n" +
                        "                    </div>\n" +
                        "                </div>\n" +
                        "            </div>");
                }
            });
        }
    });
</script>

</body>
</html>





