<!DOCTYPE html>
<html lang="en">

<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>

<div class="jumbotron m-viewresume-container">
    <div class="container">
        <h2 class="form-resume-heading">View the resume</h2>
        <hr>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label>First name</label>
                <p id="firstName">Ming</p>
            </div>
            <div class="col-md-3 mb-3">
                <label>Last name</label>
                <p id="lastName">Zhao</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label>Gender</label>
                <p id="gender">Male</p>
            </div>
            <div class="col-md-3 mb-3">
                <label>Date of Birth</label>
                <p id="birth">21/12/1992</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label>Nationality</label>
                <p id="country">China</p>
            </div>
            <div class="col-md-3 mb-3">
                <label>State</label>
                <p id="state">Beijing</p>
            </div>
            <div class="col-md-3 mb-3">
                <label>City</label>
                <p id="city">Beijing</p>
            </div>
            <div class="col-md-3 mb-3">
                <label>Suburb</label>
                <p id="suburb">Xicheng</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Address 1</label>
                <p id="addr1">123-456</p>
            </div>
            <div class="col-md-6 mb-3">
                <label>Address 2</label>
                <p id="addr2">234-567</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label>Email Address</label>
                <p id="email">porea@live.com</p>
            </div>
            <div class="col-md-3 mb-3">
                <label>Phone Number</label>
                <p id="phoneNumber">0402049468</p>
            </div>
            <div class="col-md-6 mb-3">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Edit</button>
    </div>
</div>

<%- include partial/footer.ejs %>

<%- include partial/shared-js.ejs %>

<script>
    $(document).ready(function() {
        if (<%- JSON.stringify(resumeid) %> != ""){
            var resumeId = <%- JSON.stringify(resumeid) %>;
            $.ajax({
                url: "http://localhost:3000/api/resumes/" + resumeId,
                type: 'GET',
                beforeSend : function(xhr) {
                    // set JWT header
                    xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('token'));
                },
                success: function (data) {
                    $('#firstName').text(data.firstName);
                    $('#lastName').text(data.lastName);
                    $('#gender').text(data.gender);
                    $('#birth').text(data.birth);
                    $('#country').text(data.country);
                    $('#state').text(data.state);
                    $('#city').text(data.city);
                    $('#suburb').text(data.suburb);
                    $('#addr1').text(data.addr1);
                    $('#addr2').text(data.addr2);
                    $('#email').text(data.email);
                    $('#phoneNumber').text(data.phoneNumber);
                },
                error: function (data) {
                    alert("Error.")
                }
            });
        } else {
            alert("resumeid is missing.");
        }
    });
</script>

</body>
</html>