<!DOCTYPE html>
<html lang="en">

<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>

<div class="jumbotron m-viewresume-container">
    <div class="container">
        <h2 class="form-resume-heading">View the resume</h2>
        <hr>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label>First name</label>
                <p id="firstName"></p>
            </div>
            <div class="col-md-3 mb-3">
                <label>Last name</label>
                <p id="lastName"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label>Gender</label>
                <p id="gender"></p>
            </div>
            <div class="col-md-3 mb-3">
                <label>Date of Birth</label>
                <p id="birth"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label>Nationality</label>
                <p id="country"></p>
            </div>
            <div class="col-md-3 mb-3">
                <label>State</label>
                <p id="state"></p>
            </div>
            <div class="col-md-3 mb-3">
                <label>City</label>
                <p id="city"></p>
            </div>
            <div class="col-md-3 mb-3">
                <label>Suburb</label>
                <p id="suburb"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Address 1</label>
                <p id="addr1"></p>
            </div>
            <div class="col-md-6 mb-3">
                <label>Address 2</label>
                <p id="addr2"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label>Email Address</label>
                <p id="email"></p>
            </div>
            <div class="col-md-3 mb-3">
                <label>Phone Number</label>
                <p id="phoneNumber"></p>
            </div>
            <div class="col-md-6 mb-3">
            </div>
        </div>
        <hr>
        <h4>Desired job</h4>
        <br>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Desired Position</label>
                <p id="desiredPosition"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 mb-3">
                <label>Desired Salary</label>
                <p id="desiredSalary"></p>
            </div>
        </div>

        <br>
        <hr>
        <h4>Work places</h4>
        <br>
        <div class="row">
            <div class="col-md-2 mb-3">
                <label>Start of work</label>
                <p id="startWork"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mb-3">
                <label>End of work</label>
                <p id="endWork"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Organization</label>
                <p id="workPlace"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Position</label>
                <p id="workPosition"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Responsibilities, tasks, achievements</label>
                <p id="workAchievement"></p>
            </div>
        </div>
        <br>
        <hr>
        <h4>Education</h4>
        <br>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Name of educational institution</label>
                <p id="eduInstitution"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Department</label>
                <p id="eduDepartment"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Specialization</label>
                <p id="eduSpecialization"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mb-3">
                <label>Year of graduation</label>
                <p id="eduGraduation"></p>
            </div>
        </div>
        <hr>
        <a href="#" id="editBtn" class="btn btn-primary">Edit</a>
        <a href="#" id="removeBtn" class="btn btn-danger">Delete</a>
    </div>
</div>

<%- include partial/footer.ejs %>

<%- include partial/shared-js.ejs %>

<script>
    'use strict';
    $(document).ready(function() {
        var resumeId = <%-JSON.stringify(resumeid)%>;
        if (resumeId != ""){
            var resumeId = <%-JSON.stringify(resumeid)%>;
            $.ajax({
                url: "http://localhost:3000/api/resumes/" + resumeId,
                type: 'GET',
                success: function (data) {
                    $('#firstName').text(data.firstName);
                    $('#lastName').text(data.lastName);
                    $('#gender').text(data.gender);
                    $('#birth').text(data.birth);
                    $('#country').text(data.country);
                    $('#state').text(data.state);
                    $('#city').text(data.city);
                    $('#suburb').text(data.suburb);
                    $('#addr1').text(data.addr1);
                    $('#addr2').text(data.addr2);
                    $('#email').text(data.email);
                    $('#phoneNumber').text(data.phoneNumber);
                    $('#desiredPosition').text(data.desiredPosition);
                    $('#desiredSalary').text(data.desiredSalary);
                    $('#startWork').text(data.startWork);
                    $('#endWork').text(data.endWork);
                    $('#workPlace').text(data.workPlace);
                    $('#workPosition').text(data.workPosition);
                    $('#workAchievement').text(data.workAchievement);
                    $('#eduInstitution').text(data.eduInstitution);
                    $('#eduDepartment').text(data.eduDepartment);
                    $('#eduSpecialization').text(data.eduSpecialization);
                    $('#eduGraduation').text(data.eduGraduation);
                },
                error: function (data) {
                    window.location.href = "/error/9";
                }
            });

            $('#editBtn').click(function(e) {
                window.location = "/edit-resume/" + resumeId;
            });

            $('#removeBtn').click(function(e) {
                $.ajax({
                    type: 'DELETE',
                    beforeSend : function(xhr) {
                        // set JWT header

                        xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('token'));

                    },
                    url: '/api/resumes/'+<%-JSON.stringify(resumeid)%>,
                    success: function (data) {
                        window.location.href = "/success/4";
                    },
                    error: function (data) {
                        window.location.href = "/error/8";
                    }
                });
            });



        } else {
            alert("resumeid is missing.");
        }
    });
</script>

</body>
</html>